BODY {
  margin: 0PX;
}

header {
  width: 100%;
}
header .titlehedear {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #101010;
  margin: 0px;
  height: 63px;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
  height: 50px;
}
header .localisationlogo {
  padding-right: 10px;
}
header .localisationville {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}
header .explorer {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
header .explorertitle {
  margin-top: 30px;
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  width: 230px;
  height: 68px;
  text-align: center;
  margin: 0px;
}
header .explorerparagraphe {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  width: 315px;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0px;
}
header .explorer-btn {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  cursor: pointer;
}
header .explorer-btnhover {
  background: gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
header .explorer-btn-p {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav .blocnav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .titlenav {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-left: 16%;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  right: 0px;
  align-self: flex-start;
  color: #000000;
}
nav .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
nav .navigation-btn {
  width: 70%;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
  counter-increment: compteListe 1;
  position: relative;
}
nav .navigation-btn::before {
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -9px;
}
nav .navigation-btn:hover {
  background: #F5EDFF;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: #9356DC;
  border-radius: 20px;
}
nav .navigation .navigation-btntext {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0px;
  margin-left: 10px;
}

.bloccards {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bloccards .sectiontitle {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-self: flex-start;
  margin-left: 16%;
  color: #000000;
}
.bloccards .lescards {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bloccards .card {
  display: flex;
  flex-direction: column;
  height: 251px;
  width: 70%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 15px;
}
.bloccards .cardtextcoeur {
  cursor: pointer;
  width: 200px;
}
.bloccards .card p {
  margin-bottom: 5px;
  margin-left: 15px;
}
.bloccards .card .textcards {
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.bloccards .card i {
  position: absolute;
  font-size: 21.8px;
  transform: translate(-6px, -3px);
}
.bloccards .card .heartsolide {
  display: flex;
  align-items: flex-end;
  color: transparent;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(1);
  transition: all transform 0.33s ease-out;
}
.bloccards .card .heartsolide:hover {
  transform: translate(-6px, -3px) scale(1.1);
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  opacity: 1;
}

.heart {
  display: flex;
  align-items: center;
  width: 30px;
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.img {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.img ul {
  margin: 0px;
}
.img li {
  color: white;
}
.img .img::before {
  height: 29px;
  width: 80px;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.l {
  position: relative;
}

.l::before {
  content: "Nouveau ";
  display: inline-block;
  display: flex;
  width: 80px;
  height: 29px;
  justify-content: center;
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  top: 15px;
  color: #008766;
  /* Green */
  background: #99E2D0;
  /* Shadow/ss */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

a {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.liencards {
  display: flex;
  width: 350px;
}

footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  height: 197px;
  width: 100%;
  background: #353535;
}
footer .blocfooter {
  margin-left: 15px;
  width: 400px;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
footer li {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  color: white;
  list-style: none;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
footer li a {
  color: white;
}
footer .titlefooter {
  color: white;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
footer .fa-sharp {
  margin-right: 10px;
}

@media screen and (min-width: 970px) {
  nav .blocnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .titlenav {
    margin-left: 30px;
  }
  nav .navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    height: 262px;
  }
  nav .navigation-btn {
    width: 30%;
  }
  .bloccards {
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .bloccards .lescards {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .bloccards .lescards .card {
    width: 23%;
  }
  .bloccards .sectiontitle {
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */